In [2]:
import numpy as np
import pandas as pd

## Examples

## Exercise 1

In [3]:
df = pd.read_csv("https://sta663-sp23.github.io/slides/data/us_rent.csv")

In [14]:
( df
  .pivot(
    index="name", columns="variable", values="estimate"
  )
  .reset_index()
  .assign(
    ratio = lambda d: np.round(d.income / d["rent"],2)
  )
  .sort_values("ratio", ascending=True)
)

variable                  name   income    rent  ratio
11                      Hawaii  32453.0  1507.0  21.53
4                   California  29454.0  1358.0  21.69
9                      Florida  25952.0  1077.0  24.10
32                    New York  31057.0  1194.0  26.01
1                       Alaska  32940.0  1200.0  27.45
37                      Oregon  27389.0   988.0  27.72
47                    Virginia  32545.0  1166.0  27.91
30                  New Jersey  35075.0  1249.0  28.08
2                      Arizona  27517.0   972.0  28.31
20                    Maryland  37147.0  1311.0  28.33
28                      Nevada  29019.0  1017.0  28.53
5                     Colorado  32401.0  1125.0  28.80
48                  Washington  32318.0  1120.0  28.86
10                     Georgia  27024.0   927.0  29.15
7                     Delaware  31560.0  1076.0  29.33
21               Massachusetts  34498.0  1173.0  29.41
45                        Utah  27928.0   948.0  29.46
44                       Texas  28063.0   952.0  29.48
31                  New Mexico  24457.0   809.0  30.23
8         District of Columbia  43198.0  1424.0  30.34
18                   Louisiana  25086.0   825.0  30.41
41              South Carolina  25454.0   836.0  30.45
24                 Mississippi  22766.0   740.0  30.76
46                     Vermont  29351.0   945.0  31.06
33              North Carolina  26482.0   844.0  31.38
6                  Connecticut  35326.0  1123.0  31.46
43                   Tennessee  25453.0   808.0  31.50
29               New Hampshire  33172.0  1052.0  31.53
40                Rhode Island  30210.0   957.0  31.57
12                       Idaho  25298.0   792.0  31.94
13                    Illinois  30684.0   952.0  32.23
38                Pennsylvania  28923.0   885.0  32.68
22                    Michigan  26987.0   824.0  32.75
0                      Alabama  24476.0   747.0  32.77
19                       Maine  26841.0   808.0  33.22
3                     Arkansas  23789.0   709.0  33.55
36                    Oklahoma  26207.0   766.0  34.21
25                    Missouri  26999.0   784.0  34.44
17                    Kentucky  24702.0   713.0  34.65
49               West Virginia  23707.0   681.0  34.81
14                     Indiana  27247.0   782.0  34.84
26                     Montana  26249.0   751.0  34.95
35                        Ohio  27435.0   764.0  35.91
23                   Minnesota  32734.0   906.0  36.13
16                      Kansas  29126.0   801.0  36.36
50                   Wisconsin  29868.0   813.0  36.74
51                     Wyoming  30854.0   828.0  37.26
27                    Nebraska  30020.0   773.0  38.84
15                        Iowa  30002.0   740.0  40.54
42                South Dakota  28821.0   696.0  41.41
34                North Dakota  32336.0   775.0  41.72
39                 Puerto Rico      NaN   464.0    NaN